html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem
}


main {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

main section {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
form > label {
    display: flex;
    gap: 0.5rem;
    align-items: center;;
}
form > input {
    border: none;
    padding-bottom: 1px;
    margin-bottom: 1rem;
}
form > input:focus {
    outline: none;
}
form fieldset {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: none;
}
form fieldset legend {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1rem;
}
form fieldset div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    width: 10rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.star {
    font-size: 0.5rem;
    align-self: flex-start;
}
.icon {
    font-size: 1.1rem;
}

footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}